{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Loginradius Golang SDK  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <script src="assets/js/vendors/jquery-3.3.1.min.js"></script>
  <script src="https://auth.lrcontent.com/v2/js/LoginRadiusV2.js"></script>
  <script src="assets/js/options.js"></script>
</head>

<body>
  {{template "page-body" .}}
</body>
</html>
{{end}}


