{{define "page-title"}}Emailverification{{end}}

{{define "page-body"}}
	<div class="section-menu">
		<div class="menu-header">
			<a href="/">
					<img src="assets/img/lr-logo.png"/>
			</a>
			<span style="display:block;margin-left:120px">SDK Web Demo</span>
			<div class="button-group">
				<a href="/">Minimal</a>
				<a href="/screen">Login Screen</a>
			</div>
		</div>
	</div>
	<div class="section-main">
		<h3>Email Verification</h3>
		<div class="container">
			<span id="minimal-verification-message"></span>
		</div>
	</div>
	<script src="assets/js/emailVerification.js"></script>
</body>

</html>
{{end}}