{{define "page-title"}}Screen{{end}}

{{define "page-body"}}
<body>
	<div class="section-menu">
		<div class="menu-header">
			<a href="/">
				<img src="assets/img/lr-logo.png"/>
			</a>
			<span style="display:block;margin-left:120px">SDK Web Demo</span>
			<div class="button-group">
				<a href="/">Minimal</a>
				<a href="/screen">Login Screen</a>
			</div>
		</div>
	</div>
	<div class="section-main">
		<div id="loginscreen-container"></div>
	</div>
  <script src="assets/js/loginScreen.js"></script>
  <script src="assets/js/vendors/LoginRadiusLoginScreen.1.0.0.js"></script>
</body>

{{end}}